<div [class]="{'z-10 fixed top-0 left-0 w-full h-full bg-gray-900/50': true, 'block': isOpen, 'hidden': !isOpen}">
  <div class="relative max-h-full w-full max-w-2xl mx-auto p-4 md:p-6 lg:p-8">
    <div class="bg-[#eee] rounded-lg shadow-md">
      <div class="flex items-start justify-center p-4 border-b">
        <ng-content ></ng-content>
      </div>
      <div class="flex justify-center gap-2">
        <button
          class="bg-red-500 text-white p-2 m-2 rounded-md hover:bg-red-700  hover:text-gray-900 dark:hover:text-white transition duration-300"
          (click)="handleClose()">
          try again
        </button>
      </div>
    </div>
  </div>
</div>
